## Last commit: 2026-09-24 08:12:00 UTC
system {
    host-name dist-01;
}
interfaces {
    ge-0/0/0 {
        description "to core-01 Ethernet1";
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.20.0.2/24;
            }
        }
    }
}
protocols {
    lldp {
        interface all;
    }
}
